nav, .hero, .hero-section-1, .hero-section-2 {
    display: flex;
    align-items: stretch;
    border: 1px solid;
}

nav, .hero {
    margin: 0 100px;
}

header, footer,h1 {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-link, .hero-section-1 p {
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    font-size: 48px;
    font-weight: 900;
}
/*
*{
    border: 1px solid;
}
*/


.hero-section-1{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    
}

.hero-section-2 {
    background-color: grey;
    border: 1px solid;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin: 0px;
}


nav{
    gap: 10px;
}

.logo{
    margin-right: auto;
    font-size: 24px;
}
img{
    width: 100%;
    height: auto;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    height: 25px;
    width: 100px;
}


