nav, .hero, .hero-section-1, .hero-section-2 {
    display: flex;
    align-items: stretch;
}

nav, .hero {
    margin: 0 10%;
}

.hero {
    padding: 5% 0;
}

header, footer,h1 {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-link, .hero-section-1 p {
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    font-size: 48px;
    font-weight: 900;
}


.hero-section-1{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%; 
}

.hero-section-1 h1, p{
    margin: 0;
}

.hero-section-2 {
    justify-content: center;
    width: 50%;
    align-items: center;
    margin: 0px;
}


nav{
    gap: 10px;
}

.logo{
    margin-right: auto;
    font-size: 24px;
}
img{
    width: 90%;
    height: auto;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    height: 25px;
    width: 100px;
}

.body1{
    display: flex;
    flex-direction: column;
}

.image-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 50px;
}

.bird-images {
    flex-direction: row;
    width: 100px;
    height: auto;
}

.bird-images img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.body1 h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.quote{
    margin: 0;
}

.name{
    margin-right: 5%;
    text-align: right;
    margin-top: 0;
    font-weight: 900;
    font-style: normal;
    font-size: 26px;
}

.body2 {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    padding: 60px 20%;
}

.body3 {
    padding: 5% 15%;
    display: flex;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.column-2 {
    display: flex;
    width: 20%;
    justify-items: flex-end;
    align-items: center;
}

.call-to-action button {
    border-color: white;
}

footer {

    text-align: center;
    background-color: #1F2937;
    padding: 3%;
}

footer p {
    margin: 0;
}

.call-to-action p, h3{
    margin: 5px;
}

body {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}